ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 565px;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid violet;
  border-radius: 10px;
}

li div {
  display: flex;
  gap: 5px;
}

.todoItem {
  border: none;
  outline: none;
  background: transparent;
  color: lightgray;
  border: transparent;
}

.editTodo {
  border: 1px solid darkgray;
}

.btn {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 5px;
  border: none;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: lightpink;
}

.btn2 {
  cursor: pointer;
  font-size: 15px;
  padding: 5px 5px;
  border: none;
  transition: 0.3s ease;
}

.btn2:hover {
  background-color: lightpink;
}
